.bg-white {
    width: 100%;
}

.one,
.two,
.three {
    display: none;
}

.tle .icon svg {
    &:not(&:first-child) {
        margin-left: 10px;
    }
}

.tle p {
    text-indent: 2vh;
    padding: 4vh;
    margin-left: 20%;
    text-align: left;
    width: 20%;
    font-weight: bold;
    font-size: 16pt;
}

.tle .icon {
    display: inline-block;
    margin-top: 2vh;
    scale: 1.5;
}

.tle span {
    display: block;
    font-size: 6vh;
    font-weight: bold;

    &:nth-child(2) {
        font-size: 4vh;
        margin-block: 10pt;
        margin-bottom: 5pt;
    }
}

.two {
    height: calc(100vh - 4vh);
    background-color: red;
    color: white;
}

.one>.tle {
    padding-top: 10%;
    text-align: center;
    background-color: rgb(240, 220, 78);
}



.bar span {
    margin-left: 5vh;
    user-select: none;
    cursor: pointer;
}

.bar {
    font-family: 'eyfst';
    height: 4vh;
    line-height: 2.5;
    background-color: #2e302c;
    color: white;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: auto;
    text-decoration: none;
}

body {
    color: #2e302c;
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
        appearance: none;
        width: 2px;
        background-color: rgb(240, 220, 78);
    }

    &::-webkit-scrollbar-thumb {
        background-color: #2e302c;
    }
}

@font-face {
    font-family: 'eyfst';
    src: url("./public/font/尔雅风神体.ttf") format("truetype");
}