.bg-white {
    width: 100%;
}


.info p span {
    margin-left: 1vh;
    font-weight: bold;
    user-select: all;
}

.info p {
    display: flex;

    &:not(&:first-child) {
        margin-top: 2vh;
    }
}

.info p svg {
    width: 3vh;
}

.three .card {
    transform: scale(1);
    display: inline-block;
    padding: 2vh;
    border-radius: 3vh;
    background-color: white;
    box-shadow: 0 0 10px 1px rgba(128, 128, 128, 0.24);
    user-select: none;
}






.tle .icon svg {
    &:not(&:first-child) {
        margin-left: 10px;
    }
}

.tle p {
    text-indent: 2vh;
    text-align: left;
    font-weight: bold;
    font-size: 16pt;
    width: 20%;
    margin-left: 25%;
    margin-top: 10vh;
}

.tle .icon {
    display: inline-block;
    margin-top: 2vh;
    scale: 1.5;
}

.tle span {
    display: block;
    font-size: 6vh;
    font-weight: bold;

    &:nth-child(2) {
        font-size: 4vh;
        margin-block: 10pt;
        margin-bottom: 5pt;
    }
}


.three {
    box-sizing: border-box;
    text-align: center;
    padding-top: 35vh;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40'%3E%3Crect width='40' height='40' fill='%23fff' /%3E%3Crect x='50%' width='1' height='100%' fill='rgb(0,255, 0,10%)' /%3E%3Crect y='50%' width='100%' height='1' fill='rgb(0,255, 0,10%)' /%3E%3C/svg%3E%0A");
}

.two {
    padding: 2vh;
    box-sizing: border-box;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40'%3E%3Crect width='40' height='40' fill='%23fff' /%3E%3Crect x='50%' width='1' height='100%' fill='rgb(255,0, 0,10%)' /%3E%3Crect y='50%' width='100%' height='1' fill='rgb(255,0, 0,10%)' /%3E%3C/svg%3E%0A");
    color: white;
}

.one>.tle {
    padding-top: 10%;
    text-align: center;
    background-color: rgb(240, 220, 78);
}

.one {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40'%3E%3Crect width='40' height='40' fill='%23fff' /%3E%3Crect x='50%' width='1' height='100%' fill='rgb(240, 220, 78,50%)' /%3E%3Crect y='50%' width='100%' height='1' fill='rgb(240, 220, 78,50%)' /%3E%3C/svg%3E%0A");
}


#one,
#two,
#three {
    display: none;
    height: calc(100vh - 4vh);
}

.bar span {
    user-select: none;
    cursor: pointer;
    margin-left: 1vh;

    &:not(&:first-child) {
        margin-left: 2vh;
    }
}

.bar {
    font-family: 'eyfst';
    box-sizing: border-box;
    background-color: #2e302c;
    color: white;
    line-height: 4vh;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: auto;
    text-decoration: none;
}

body {
    color: #2e302c;
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
        appearance: none;
        width: 2px;
        background-color: rgb(240, 220, 78);
    }

    &::-webkit-scrollbar-thumb {
        background-color: #2e302c;
    }
}

@font-face {
    font-family: 'eyfst';
    src: url("./public/font/尔雅风神体.ttf") format("truetype");
}